.button {
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;

  &-primary {
    background-color: var(--skyBlue);
    color: var(--standardWhite);
  }

  &-secondary {
    background-color: var(--lightGray);
    color: var(--darkGray);
  }

  &-select {
    background-color: var(--lightGray);
    color: var(--standardBlack);
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }
}
